body {
    background: #333;
}

#map {
    display: block;
    background: #111;
    position: absolute;
}

#player, #meteorite, #stats, #gameover, #canister, #bonus {
    position: absolute;
    display: block;
}

/*Оптимизация под мониторы*/
@media screen and (min-height: 770px) {
    #map {
        position: absolute;
        left: 50%;
        margin-left: -512px;
    }
    
    #player, #meteorite, #stats, #gameover, #canister, #bonus {
        left: 50%;
        margin-left: -512px;
    }
}