body {
    background: #333;
}

#map {
    display: block;
    background: #111;
    position: absolute;
    top: 0;
    left: 0;
}

#player, #meteorite, #stats {
    display: block;
    margin: -500px auto 0px;
}

/*Оптимизация под мониторы*/
@media screen and (min-height: 770px) {
    #map {
        position: relative;
        margin: 4% auto;
    }
}